* {
    font-family: Helvetica;
}

header {
    background-image: url("../images/pattern.jpeg");
}

figure {
    margin: 0px;
}


h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

strong {
    font-weight: bold;
    color: blue;
}

.green-background {
    background-color: mediumspringgreen;
}

.coral-background {
    background-color: lightcoral;
}

.blue-background {
    background-color: skyblue;
}